@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

.widget {
  position: fixed;
  right: 5px;
  bottom: 0;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  width: 290px;
  padding: 10px 0 5px 0;
  font-family: 'Montserrat', sans-serif;
  border: 2px solid #c40b05;
  border-right: none;
  border-radius: 20px 0 0 0;
  transition: all 1s;
  background: #ffffff;
  transform: translateY(100%);
}

.widget.in {
  transform: translateY(0);
}

.widget__tab {
  position: absolute;
  top: 0;
  right: -2px;
  display: flex;
  justify-content: space-between;
  width: 130px;
  padding: 5px;
  font-size: 1.2rem;
  color: #ffffff;
  border: 2px solid #c40b05;
  border-radius: 10px 0 0 0;
  font-weight: bold;
  text-transform: uppercase;
  background: #c40b05;
  transform: translateY(-100%);
}

.widget__tab.hidden {
  display: none;
}

.widget__tab.inverse {
  color: #c40b05;
  border-bottom: none;
  background: #ffffff;
}

.widget__tab:hover {
  cursor: pointer;
}

.unread {
  width: 20px;
  height: 20px;
  font-size: 0.8rem;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 50%;
  font-weight: normal;
}

.widget__tab.inverse .unread {
  color: #c40b05;
  border-color: #c40b05;
}

.articles {
  padding: 10px;
  overflow-y: auto;
  max-height: 70vh;
}

.article {
  display: block;
  margin-bottom: 20px;
}

.article__info {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
  font-size: 0.8rem;
  color: #bbbbbb;
}

.article__photo img {
  border-radius: 10px;
}

.article_read {
  color: #aaaaaa;
}

::-webkit-scrollbar {
  position: relative;
  left: 5px;
  width: 3px;
  border-radius: 2px;
  background: #ccc;
}

::-webkit-scrollbar-thumb {
  width: 3px;
  border-radius: 2px;
  background: #aaaaaa;
}